<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>me.forketyfork.lilims</string>
    <key>CFBundleName</key>
    <string>Lilims</string>
    <key>CFBundleExecutable</key>
    <string>LilimsApp</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
</dict>
</plist>
